<a class="btn btn-primary" (click)="CenteredModal(CenteredContent)">
  <i class="fa fa-plus"></i> Nuevo usuario
</a>
<ng-template #CenteredContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Nuevo usuario</h5>
      <button
        class="btn-close py-0"
        type="button"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <div class="modal-toggle-wrapper">
        <!-- // formulario -->
        <form class="row g-3" [formGroup]="forma">
          <div class="wrap-controls">
            <!-- // nombre -->
            <div class="col-md-12">
              <label class="form-label" for="nombre">Nombre</label>
              <input
                class="form-control"
                id="nombre"
                type="text"
                placeholder="Nombre del usuario"
                formControlName="nombre"
                [ngClass]="{
                  'border-rojo':
                    forma.controls.nombre.invalid &&
                    forma.controls.nombre.touched
                }"
              />
              @if ($any(forma.controls.nombre)?.errors?.required &&
              forma.controls.nombre.invalid && forma.controls.nombre.touched) {
              <small>Campo requerido</small>
              }
            </div>
            <!-- // apellido -->
            <div class="col-md-12">
              <label class="form-label" for="apellido">Apellido</label>
              <input
                class="form-control"
                id="apellido"
                type="text"
                placeholder="Apellido del usuario"
                formControlName="apellido"
                [ngClass]="{
                  'border-rojo':
                    forma.controls.apellido.invalid &&
                    forma.controls.apellido.touched
                }"
              />
              @if ($any(forma.controls.apellido)?.errors?.required &&
              forma.controls.apellido.invalid &&
              forma.controls.apellido.touched) {
              <small>Campo requerido</small>
              }
            </div>
            <!-- // correo -->
            <div class="col-md-12">
              <label class="form-label" for="correo">Correo</label>
              <input
                class="form-control"
                id="correo"
                type="text"
                placeholder="Correo del usuario"
                formControlName="correo"
                [ngClass]="{
                  'border-rojo':
                    forma.controls.correo.invalid &&
                    forma.controls.correo.touched
                }"
              />
              @if ($any(forma.controls.correo)?.errors?.pattern) {
              <small>Correo inválido</small>
              } @else if ($any(forma.controls.correo)?.errors?.required &&
              forma.controls.correo.invalid && forma.controls.correo.touched) {
              <small>Campo requerido</small>
              }
            </div>
            <!-- // telefono -->
            <div class="col-md-12">
              <label class="form-label" for="telefono">Teléfono</label>
              <input
                class="form-control"
                id="telefono"
                type="text"
                placeholder="Teléfono del usuario"
                formControlName="telefono"
                [ngClass]="{
                  'border-rojo':
                    forma.controls.telefono.invalid &&
                    forma.controls.telefono.touched
                }"
              />
              @if ($any(forma.controls.telefono)?.errors?.required &&
              forma.controls.telefono.invalid &&
              forma.controls.telefono.touched) {
              <small>Campo requerido</small>
              }
            </div>
            <!-- role -->
            <div class="col-md-12">
              <label class="form-label" for="role">Role</label>
              <select
                class="form-select form-select-sm"
                aria-label=".form-select-sm example"
                formControlName="role"
                [ngClass]="{
                  'border-rojo':
                    forma.controls.role.invalid &&
                    forma.controls.role.touched
                }"
              >
                <option selected disabled [value]="null">
                  Seleccione un role
                </option>
                @for (role of rols; track role) {

                <option [value]="role._id">{{ role?.nombre }}</option>
                }
              </select>
              @if ($any(forma.controls.role)?.errors?.required &&
              forma.controls.role.invalid && forma.controls.role.touched) {
              <small>Campo requerido</small>
              }
            </div>
            <!-- status -->
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                id="status"
                type="checkbox"
                role="switch"
                formControlName="estado"
              />
              <label class="form-check-label" for="status">Estado</label>
            </div>
          </div>

          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              (click)="modal.dismiss('Cross click')"
            >
              Cerrar
            </button>
            <button class="btn btn-primary" type="submit" (click)="crearUser()">
              Crear usuario
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
