<a (click)="CenteredModal(CenteredContent)">
  <svg>
    <use href="assets/svg/icon-sprite.svg#edit-content"></use>
  </svg>
</a>
<ng-template #CenteredContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ver/Editar producto</h5>
      <button
        class="btn-close py-0"
        type="button"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <div class="modal-toggle-wrapper">
        <!-- // formulario -->
        <form class="row g-3" [formGroup]="forma">
          <div class="wrap-controls">
            <!-- // nombre -->
            <div class="col-md-12">
              <label class="form-label" for="nombre">Producto</label>
              <input
                class="form-control"
                id="nombre"
                type="text"
                placeholder="Nombre del producto"
                formControlName="nombre"
                [ngClass]="{
                  'border-rojo':
                    forma.controls.nombre.invalid &&
                    forma.controls.nombre.touched
                }"
              />
              @if ($any(forma.controls.nombre)?.errors?.required &&
              forma.controls.nombre.invalid && forma.controls.nombre.touched) {
              <small>Campo requerido</small>
              }
            </div>

            <!-- // precio -->
            <div class="col-md-12">
              <label class="form-label" for="precio">Precio</label>
              <input
                class="form-control"
                id="precio"
                type="text"
                placeholder="Ejemplo: 0.25"
                formControlName="precio"
                [ngClass]="{
                  'border-rojo':
                    forma.controls.precio.invalid &&
                    forma.controls.precio.touched
                }"
              />
              @if ($any(forma.controls.precio)?.errors?.required &&
              forma.controls.precio.invalid && forma.controls.precio.touched) {
              <small>Campo requerido</small>
              } @else if ($any(forma.controls.precio)?.errors?.pattern &&
              forma.controls.precio.invalid && forma.controls.precio.touched) {
              <small>Ingrese un valor válido Ej: 2.20</small>
              }
            </div>

            <!-- // digitos -->
            <div class="col-md-12">
              <label class="form-label" for="digitos">Dígitos</label>
              <input
                class="form-control"
                id="digitos"
                type="text"
                placeholder="Ejemplo: 2"
                formControlName="digitos"
                [ngClass]="{
                  'border-rojo':
                    forma.controls.digitos.invalid &&
                    forma.controls.digitos.touched
                }"
              />
              @if ($any(forma.controls.digitos)?.errors?.required &&
              forma.controls.digitos.invalid && forma.controls.digitos.touched)
              {
              <small>Campo requerido</small>
              } @else if ($any(forma.controls.digitos)?.errors?.pattern &&
              forma.controls.digitos.invalid && forma.controls.digitos.touched)
              {
              <small>Ingrese sólo números enteros</small>
              }
            </div>

            <!-- status -->
            <div class="organizar-switches">
              <!-- status -->
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="status"
                  type="checkbox"
                  role="switch"
                  formControlName="estado"
                />
                <label class="form-check-label" for="status">Estado</label>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              (click)="modal.dismiss('Cross click')"
            >
              Cerrar
            </button>
            <button
              class="btn btn-primary"
              type="submit"
              (click)="crearProduct()"
            >
              Editar producto
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
